@{
    ViewBag.Title = "Home Page";
}

<style>
    /* CSS personalizzato per il footer */
    .toBotton {
        bottom: 0;
        height: 20vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .fixed-height-div {
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
    }

    .colored-bar {
        height: 20px;
        /* Altezza della barra */
    }

    .colored-bar-green {
        background-color: #0D6EFD;
        /* Colore della barra */
    }

    .colored-bar-red {
        background-color: #DC3545;
        /* Colore della barra */
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
</style>

<div class="row" id="divAccountExpenses">
    <div class="row">
        <div class="col">
            <h2 id="pNameAccount"></h2>
        </div>
    </div>
    <hr>
    <div class="fixed-height-div">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" id="btnModalExpense" data-bs-toggle="modal"
                    data-bs-target="#modalAddExpense">+</button>
            </div>
        </div>
        <div class="row">
            <table class="table table-dark" id="tableExpenses">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Paid by</th>
                        <th scope="col">Date</th>
                        <th scope="col">Import</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="toBotton" id="footer">
    </div>
</div>



<div class="modal fade" id="modalAddExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAddLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddLabel">Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="txtName" class="form-label">Title</label>
                                <input type="text" class="form-control" id="txtName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="numberCost" class="form-label">Cost</label>
                                <input type="number" class="form-control" id="numberCost" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtFilter" class="form-label">Paid for by</label>
                                <select class="form-select" aria-label="Default select example" id="selectPaid">
                                </select>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="selectSearch" class="form-label">For who</label>
                                <select class="form-select" aria-label="Default select example" id="selectFor">
                                </select>
                            </div>
                        </div>
                        <div class="col-1">
                            <input type="button" id="btnAddUser" class="btn btn-primary" value="+"
                                style="margin-top: 77%;" />
                        </div>
                    </div>
                    <div class="row" id="divUsers">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCloseModal"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddExpense">Save</button>
            </div>
        </div>
    </div>
</div>
