@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="row">
        <div class="col">
            <h2 id="pNameAccount"></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <input type="button" class="btn btn-primary" id="btnModalExpense" value="+" data-bs-toggle="modal"
                data-bs-target="#modalAddExpense" />
        </div>
    </div>
    <div class="row">
        <table class="table table-dark" id="tableExpenses">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Paid by</th>
                    <th scope="col">Date</th>
                    <th scope="col">Import</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="modalAddExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAddLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddLabel">Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="txtName" class="form-label">Title</label>
                                <input type="text" class="form-control" id="txtName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="numberCost" class="form-label">Cost</label>
                                <input type="number" class="form-control" id="numberCost" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtFilter" class="form-label">Paid for by</label>
                                <select class="form-select" aria-label="Default select example" id="selectPaid">
                                </select>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="selectSearch" class="form-label">For who</label>
                                <select class="form-select" aria-label="Default select example" id="selectFor">
                                </select>
                            </div>
                        </div>
                        <div class="col-1">
                            <input type="button" id="btnAddUser" class="btn btn-primary" value="+"
                                style="margin-top: 77%;" />
                        </div>
                    </div>
                    <div class="row" id="divUsers">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCloseModal"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddExpense">Save</button>
            </div>
        </div>
    </div>
</div>



<script>
    var divUsers = document.getElementById('divUsers')

    var pNameAccount = document.getElementById('pNameAccount')

    var txtName = document.getElementById('txtName')

    var numberCost = document.getElementById('numberCost')

    var date = document.getElementById('date')

    var selectPaid = document.getElementById('selectPaid')
    var selectFor = document.getElementById('selectFor')

    var btnAddExpense = document.getElementById('btnAddExpense')
    var btnAddUser = document.getElementById('btnAddUser')
    var btnModalExpense = document.getElementById('btnModalExpense')

    var users = []
    var usersFor = []

    date.valueAsDate = new Date()

    GetExpenses()
    function GetExpenses() {
        $.ajax({
            url: '@Url.Action("GetExpenses", "Account")',
            type: "POST",
            success: function (result) {
                if (result != "") {
                    console.log(result)
                    CreateTable(result)
                }
            },
            error: function (error) {
                console.log("error")
                console.log(error)
            }
        })
    }

    function CreateTable(expenses) {
        const element = document.getElementById('tbody')
        if (element != null)
            element.remove()

        var rows = ""
        expenses.forEach(function (item) {
            var d = item.Date.substring(9, 13)
            var date = new Date(d).toLocaleDateString('en-GB')
            rows += "<tr><td>" + item.Name + "</td><td>" + item.PaidBy + "</td><td>" + date + "</td><td>" + item.Cost
                + '</td><td><div class="row"><div class="col"><input type="button" class="btn btn-outline-danger btnDeleteExpenses" id="btnDelete_' + item.Id.Increment + '" value="Delete"/></div>'
                + '<div class="col"><input type="button" class="btn btn-outline-primary btnInfoExpenses" id="btnInfo_' + item.Id.Increment + '" value="Info"/></div>'
        })

        $('#tableExpenses').append('<tbody id="tbody">' + rows + '</tbody>')
    }

    GetAccount()
    function GetAccount() {
        $.ajax({
            url: '@Url.Action("GetAccount", "Account")',
            type: "POST",
            success: function (result) {
                if (result != "") {
                    console.log(result)
                    pNameAccount.innerHTML = result.Name

                    result.Users.forEach(function (key) {
                        users.push(key)
                    })

                    InsertOptionToSelectPaid()
                }
            },
            error: function (error) {
                console.log("error")
                console.log(error)
            }
        })
    }

    function InsertOptionToSelectPaid() {
        var option = '<option value""></option>'
        users.forEach(function (key) {
            option += '<option value"' + key.Name + '">' + key.Name + '</option>'
        })

        $('#selectPaid').append(option)
    }

    selectPaid.addEventListener('change', function () {
        var val = selectPaid.value
        if (val != '') {
            usersFor = []
            users.forEach(function (key) {
                if (key.Name !== val)
                    usersFor.push(key)
            })
            InsertOptionToSelectFor(usersFor)
        }
    })

    function InsertOptionToSelectFor(usersFor) {
        $('#selectFor').empty()
        $('#divUsers').empty()
        
        var option = '<option value""></option>'
        var html = ''
        usersFor.forEach(function (key) {
            option += '<option value"' + key.Name + '">' + key.Name + '</option>'
            html += '<div class="col-6" id="divUser_' + key.Name + '"><div class="row"><div class="col-10"><p>' + key.Name + '</p></div><div class="col-2"><input type="button" class="btn btn-outline-primary btnDeleteUsers" id="btnDeleteUser_' + key + '" value="x"></div></div></div>'
        })

        $('#selectFor').append(option)
        $('#divUsers').append(html)
    }

    btnAddUser.addEventListener('click', function (e) {
        var val = selectFor.value
        if (val != "" && !users.find(x => x == val)) {
            users.push(val)
            var html = '<div class="col-6" id="divUser_' + val.Name + '"><div class="row"><div class="col-10"><p>' + val.Name + '</p></div><div class="col-2"><input type="button" class="btn btn-outline-primary btnDeleteUsers" id="btnDeleteUser_' + val + '" value="x"></div></div></div>'
            $('#divUsers').append(html)
        }
    })

    btnAddExpense.addEventListener('click', function (e) {
        var name = txtName.value
        var cost = numberCost.value
        var d = date.value
        var owner = selectPaid.value

        var listUsers = []
        usersFor.forEach(function(key){
            listUsers.push(key.Name)
        })

        if (name != '' && cost != '' && cost != '0' && d != '') {
            $.ajax({
                url: '@Url.Action("InsertExpense", "Account")',
                data: { name: name, cost: cost, date: d, owner: owner, usersFor: usersFor },
                type: "POST",
                success: function (result) {
                    if (result) {
                        console.log(result)
                        $('#btnCloseModal').click()
                        GetExpenses()
                    }
                },
                error: function (error) {
                    console.log("error")
                    console.log(error.responseText)
                }
            })
        }
    })

    document.addEventListener('click', function (e) {
        if (e.target.className.split(' ').find(x => x == "btnDeleteUsers")) {
            var username = e.target.id.substring(14)
            $('#divUser_' + username).remove()

            var index = users.indexOf(username)
            users.splice(index, 1)
        }
        else if (e.target.className.split(' ').find(x => x == 'btnDeleteExpenses')) {
            if (confirm("Are you sure delete the account?") == true) {
                var idIncremental = e.target.id.substring(10)
                $.ajax({
                    url: '@Url.Action("DeleteExpense", "Account")',
                    data: { id: idIncremental },
                    type: "POST",
                    success: function (result) {
                        if (result) {
                            GetExpenses()
                        }
                    },
                    error: function (error) {
                        console.log("error")
                        console.log(error)
                    }
                })
            }
        }
    })
</script>

