@{
    ViewBag.Title = "Home Page";
}

<div class="row bg-dark">
    <div class="col-2">
        <div class="row">
            <div class="row">
                <h2>Menu</h2>
            </div>
            <hr>
            <div class="row">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="#" id="btnDashboard" class="nav-link text-white active">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" id="btnNotification" class="nav-link text-white position-relative">
                            Notification
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
    </div>

    <div class="col-10" style="margin-top: 1%;" id="divLoadComponent">
        @{
            Html.RenderPartial("Accounts");
        }
    </div>
</div>

<div class="modal fade" id="modalAddAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddLabel">Invites</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row" id="divInvite">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCloseModal"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    const btnDashboard = document.getElementById('btnDashboard')

    var _user = ''

    btnDashboard.addEventListener('click', function () {
        $('#divLoadComponent').empty()

        var url = '@Url.Action("Accounts", "Home")'
        $('#divLoadComponent').load(url)
    })

    GetInfoUser()
    function GetInfoUser() {
        $.ajax({
            url: '@Url.Action("GetUser", "Dashboard")',
            type: "POST",
            success: function (result) {
                _user = result
            },
            error: function (error) {
                console.log("error")
                console.log(error)
            }
        })
    }

    $(function () {

        var chat = $.connection.chatHub;

        chat.client.GetCountInvitations = function (result) {

            console.log(result)
        };

        $.connection.hub.start().done(function () {
            chat.server.notify()
        });
    });

</script>
